.confirmationDialog {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
  z-index: 101;
}

.confirmationDialog h2 {
  margin: 0 0 10px 0;
}

.confirmationDialog p {
  margin: 0 0 20px 0;
}

.buttonHolder {
  float: left;
  width: 100%;
  text-align: center;
}

.buttonHolder button {
  padding: 10px 20px;
  border-radius: 20px;
  color: #fff;
  font-weight: bold;
  background-color: #5932ea;
  cursor: pointer;
  border: 1px solid transparent;
}

.buttonHolder button:first-of-type {
  margin-right: 20px;
}

.buttonHolder button:hover {
  background-color: #fff;
  color: #5932ea;
  border-color: #5932ea;
}
